.wrap{ width: 100%; height: 100%; margin: 0 auto; }
.header{ width: 100%;  margin: 0 auto; }
.header .upHeaderFirst > li:last-child{ color: #0056ff}

.upHeaderFirst > li{  display: inline-block; position: relative; margin-right: 10px; cursor: pointer; }
.upHeaderFirst > li:before{ content: ''; position: absolute; left: 50%; bottom: 0; top: 30px; width: 0; height: 1px; background-color: grey; transition: all 0.2s ease-in }
.upHeaderFirst > li:after{ content: ''; position: absolute; right: 50%; bottom: 0; top: 30px; width: 0; height: 1px; background-color: grey; transition: all 0.2s ease-in }
.upHeaderFirst > li:hover:after{ width: 50%; z-index: 6; }
.upHeaderFirst > li:hover:before{ width: 50%; z-index: 6; }
.upHeaderFirst > li:last-child:hover:after{ content: none }
.upHeaderFirst > li:last-child:hover:before{ content: none }

.upHeaderSecond li{ display: inline-block; position: relative; margin-right: 10px; cursor: pointer; }
.upHeaderSecond > li:before{ content: ''; position: absolute; left: 50%; bottom: 0; top: 30px; width: 0; height: 1px; background-color: grey; transition: all 0.2s ease-in }
.upHeaderSecond > li:after{ content: ''; position: absolute; right: 50%; bottom: 0; top: 30px; width: 0; height: 1px; background-color: grey; transition: all 0.2s ease-in }
.upHeaderSecond > li:hover:after{ width: 50%; z-index: 6; }
.upHeaderSecond > li:hover:before{ width: 50%; z-index: 6; }
.upHeaderSecond > li:last-child:hover:after{ content: none }
.upHeaderSecond > li:last-child:hover:before{ content: none }

.in-header{ display: flex; justify-content: space-between; margin: 10px auto 0; max-width: 1220px; }
.upHeader{ position: relative; }
.upHeader:before{ content: ""; width: 100%; height: 1px; top: 30px; background-color: #dbdbdb; position: absolute; }
.upHeader > nav > ul > li{ float: left; color: grey; margin-right: 5px; font-size: 0.9em; }


.downHeader{ margin-top: 10px; margin-bottom: 20px; }
.downNav{ max-width: 1220px; margin: 20px auto 0; display: flex; justify-content: space-between }
.downNav > div > ul{ display: flex; justify-content: space-around;  align-items: center; }
.downNav > div > ul > li > h5{ margin-right: 60px; font-size: 1.3em; }

#main-menu{ position: relative; }
#main-menu li{  cursor: pointer; }
.main-nav{  display: inline-block; position: relative; }
.main-nav:before{ content: ''; position: absolute; left: 50%; bottom: 0; top: 50px; width: 0; height: 3px; background-color: #0056ff; transition: all 0.1s ease-in }
.main-nav:after{ content: ''; position: absolute; right: 50%; bottom: 0; top: 50px; width: 0; height: 3px; background-color: #0056ff; transition: all 0.1s ease-in }
.main-nav:hover:after{ width: 50%; z-index: 6; }
.main-nav:hover:before{ width: 50%; z-index: 6; }
.main-nav:last-child:after{ content: none; }
#main-menu > li:hover .sub-menu{ opacity: 1; visibility: visible; }
.sub-menu{ position: absolute; display: flex; justify-content: flex-start; background-color: white; opacity: 0; box-shadow:  1px 5px 10px 1px #dbdbdb; visibility: hidden; transition: all 0.4s ease-in; z-index: 5;left: -648px; top: 57px; width: 1901px;}
.introduce1{ background-color: #effbfe; position: relative; padding: 30px 90px 390px 100px; border-bottom-right-radius: 20px;  }
.introduce1_depth1{ font-weight: 400; font-size: 1.7em;}
.introduce1_depth1:after{ position: absolute; content: ''; width:50px; height: 2px; top: 70px; left: 105px; background-color: black;}
.introduce2{ margin-left: 50px; display: flex; justify-content: space-between; flex-wrap: wrap; }
.introduce2 div{ margin-top: 40px; position: relative; width: 300px  }
.introduce2_title{ font-size: 1.1em; font-weight: 500; margin-bottom: 20px;}
.introduce2_title:after{ position: absolute; content: ''; width: 260px; height: 2px; top: 30px; left: 1px; background-color: black; }
.introduce2_title:first-child{ margin-bottom: 20px; }
.indepth{ margin-top: 70px; }
.indepth p{ margin-bottom: 10px; font-weight: 600;}




.oftenMenu{ background-color: #f3f4f8; }
.oftenNav{ max-width: 1220px; margin: 0 auto; display: flex; justify-content: flex-start; align-items: center; }
.oftenNav > div{ margin-right: 50px; margin-top: 20px; text-align: center; margin-bottom: 30px; position: relative }
.oftenNav > div > p{ font-size: 0.7em; font-weight: bolder }
.oftenNav > div > div{ border: 1px solid white; padding: 28px; border-radius: 50px; background-color: white; margin-bottom: 10px; }
.oftenNav > div > div i{ color: #0056ff }
.oftenNav > div:nth-child(2) i{ color: #f02769 }
.oftenNav h3{ font-size: 1.4em; font-weight: bolder; margin-right: 20px; line-height: 30px; text-align: left }
.oftenNav h3:after{content:''; position: absolute; width: 20px; margin-top: 10px; height: 2px; top: 100%; left: 0; background-color: #3d72fc; }
.oftenNav > div:hover > div> i{  color: white; transform: rotateY(360deg); transition: all 0.3s linear; }
.oftenNav > div:hover > div{ background-color: #0056ff }
.oftenNav > div:nth-child(2):hover > div{ background-color: #f02769 }
.often-icon{ cursor: pointer }

.middleContent{ max-width: 1220px; margin: 40px auto 0; display: flex; justify-content: space-between;}
.middleContent > img{ border-radius: 10px; }
.middleRight{ width: 400px; }
.middleRight > div:first-child{ display: flex; border: 3px solid #0613cc; border-radius: 10px; padding: 10px; justify-content: space-between; }
/*.middleRight > div:nth-child(2){ display: flex; }*/
.middleRight > div > input{ padding: 10px; color: grey; font-size: 1em; }
.middleRight > div > i{ font-size: 2em; color: #0056ff; }

.main-slide{ position: relative; }
.main-img{ border-radius: 10px; }
.main-prev{ cursor: pointer }
.main-next{ cursor: pointer }
.slide-box{ background-color: rgba(22,30,77,0.85); width: 40%; border-radius: 10px; padding: 10px 0; position: absolute; top: 89% }
.slide-box > span i{ color: white }

.hashtagSlide{ display: flex; align-items: center; justify-content: space-between; overflow: hidden }
.hashtagSlide > div > i{ font-size: 2em; color: #0056ff; }
.hashtagText div b:after{ content: "|"; margin-left: 10px; color: #dbdbdb; }
.hashtagText div b{ color: grey }

.daeho{ height: 278px; overflow: hidden; position: relative; border-radius: 10px; background-color: #f5f6fa; }
.daeho:before{ content: ""; bottom: -4px; right: -10px; position: absolute; width: 283px; height: 244px; background: url(../img/chief_img.jpg) no-repeat; background-size: contain; z-index: 1; }
.daehoWrap{ margin-left: 20px; margin-top: 20px; overflow: hidden; }
.daehoWrap > b{ font-weight: bolder; font-size: 1.1em; color: #1d192f }
.daehoName{ font-size: 1.5em; font-weight: bolder; }
.daehoSns{ position: absolute; left: 0; bottom: 0; width: 100%; height: 50px; padding: 10px 20px; background-color: #3673c9; font-size: 0; line-height: 0; box-sizing: border-box; }
.daehoList > li{ float: left; width: 100px; height: 50px; position: absolute; z-index: 4; border: 1px solid black; color: black;  }
.daeho-festo{ display: flex; justify-content: flex-start; margin-top: 10px; color: grey; margin-bottom: 10px; position: relative }
.daeho-festo > span{ margin-left: 30px; cursor:pointer; z-index: 3; }
.daeho-festo > span:hover{ font-weight: bolder; color: dimgrey }
.daeho-festo > span:after{ content: ""; width: 10px; height: 2px; left: 111px; top: 22px; background-color: #0056ff; position: absolute; transition: all 0.3s ease-in; }
.daeho-festo > span:hover:after{ width: 120px; background-color: #0056ff }
.daeho-festo > p{ cursor: pointer }
.daeho-festo > p:hover{ font-weight: bolder; color: dimgrey }
.daeho-festo > p:after{ content: ""; width: 10px; height: 2px; left: 1px; top: 22px; background-color: #0056ff; position: absolute; transition: all 0.3s ease-in; }
.daeho-festo > p:hover:after{ width: 80px; background-color: #0056ff }
.daeho-happy{ color: grey; margin-top: 16px; cursor: pointer}
.daeho-happy:after{ content: ""; width: 10px; height: 2px; left: 22px; top: 130px; background-color: #0056ff; position: absolute; transition: all 0.3s ease-in; }
.daeho-happy:hover:after{ width: 100px; }
.btn-wrap{ margin-top: 25px;}
.btn-wrap button{ background-color: #3673c9; border-radius: 4px; border: none; color: white; padding: 2px; cursor: pointer  }
.btn-wrap button:hover{ background-color:#1d192f; font-weight: 700;  }

.noticeTab{ max-width: 1220px; margin: 0 auto; }
ul.tabs{ margin: 0; padding: 0; list-style: none; position: relative }
ul.tabs li{ background: none; display: inline-block; padding: 10px 15px; cursor: pointer; font-size: 1.5em; margin-right: 30px; }
ul.tabs li.current{ font-weight: bolder; border-bottom: 2px solid #0056ff; }
.tabWrap{ display: flex; justify-content: space-between; align-items: center; margin-top: 30px; border-bottom: 1px solid #dbdbdb }
.tabWrap p{ color: #0056ff }
.tab-content{ display: none; margin-top: 20px; }
.tab-content.current{ display: flex; justify-content: space-between; flex-wrap: wrap; }


.tab-link{  display: inline-block; position: relative; }
.tab-link:before{ content: ''; position: absolute; left: 50%; bottom: 0; top: 44px; width: 0; height: 2px; background-color: #0056ff; transition: all 0.1s ease-in }
.tab-link:after{ content: ''; position: absolute; right: 50%; bottom: 0; top: 44px; width: 0; height: 2px; background-color: #0056ff; transition: all 0.1s ease-in }
.tab-link:hover:after{ width: 50%; z-index: 6; }
.tab-link:hover:before{ width: 50%; z-index: 6; }



.contentBox{ display: flex; justify-content: space-between; flex-wrap: wrap; overflow: hidden; align-content: center; }
.contents{ border: 1px solid #dbdbdb; padding: 30px; margin-bottom: 20px; flex: 1 1 15%; margin-right: 20px; border-radius: 10px; line-height: 25px; }
.contents em{ float: right; color: grey; margin-top: 20px; }
.contents:hover{ cursor: pointer; border: 1px solid #0056ff; box-shadow: 5px 5px 5px 5px #dbdbdb }
.contents:nth-child(4){ margin-right: 0; }
.contents:nth-child(8){ margin-right: 0; }
.coronaTab{ background-color: #f1f8ff; margin-top: 20px; padding-top: 30px; padding-bottom: 30px; }
.coronaWrap{ max-width: 1220px; margin: 0 auto; }
.coronaTitle{ display: flex; justify-content: space-between; margin-top: 30px; align-items: center; }
.coronaTitle h1{ font-size: 2em; font-weight: bolder; margin-right: 20px; }
.coronaTitle h1 span{ font-size: 1em; font-weight: bolder; color:#f02769;  }
.coronaTitle p{ color: grey }
.coronaTitle div{ display: flex; align-items: center; }
.coronaTitle > div > i{ border: 1px solid white; background-color: white; margin-left: 10px; padding: 5px; border-radius: 5px; cursor: pointer; }
.coronaTitle > div > i:hover{ border: 1px solid #0056ff; color: #0056ff }
.coronaTable{ display: flex; justify-content: space-between; margin-top: 30px; width: 100%; }
.coronaAlarm{ display: flex; width: 48%; justify-content: space-between; border: 1px solid #f6dae3; background-color: #fdf6fa; border-radius: 10px; border-top-left-radius: 20px; overflow: hidden; align-items: center; }
.coronaAlarm > h3{ writing-mode: vertical-rl; text-orientation: upright; font-size: 1.8em;left: 0; margin: 0; padding: 30px; color: #f02769; background-color: white; }
.coronaAlarm section{ margin: 10px; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center}
.coronaAlarm section p:nth-child(2){ font-size: 1.3em; font-weight: bolder; }


.alarm1,.alarm2,.alarm3,.alarm4{ position: relative; }
.confirmed:after{ content: ''; position: absolute; width: 10px; height: 2px; top: 70px; left: 33px; background-color: #f02769; margin-bottom: 20px;  }
.discharge:after{ content: ''; position: absolute; width: 10px; height: 2px; top: 70px; left: 30px; background-color: blueviolet; margin-bottom: 20px;  }
.cure:after{ content: ''; position: absolute; width: 10px; height: 2px; top: 70px; left: 30px; background-color: #3d72fc; margin-bottom: 20px;  }
.dead:after{ content: ''; position: absolute; width: 10px; height: 2px; top: 70px; left: 20px; background-color: black; margin-bottom: 20px;  }

.vaccineAlarm{ display: flex; width: 48%; justify-content: space-between; border: 1px solid #cdd8fb; background-color: #f6fcff; border-radius: 10px; border-top-left-radius: 20px; overflow: hidden; align-items: center; }
.vaccineAlarm > h3{ writing-mode: vertical-rl; text-orientation: upright; font-size: 1.8em;left: 0; margin: 0; padding: 30px; color: #3f61d1; background-color: white; }
.vaccineAlarm section{ margin: 10px; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center}


.hashTag{ max-width: 1220px; width: 100%; margin: 30px auto; }
.hashTab{ max-width: 1220px; display: flex; margin: 0 auto; }
ul.hashTabs{ margin: 0 auto; }
ul.hashTabs li{ background: none; display: inline-block; padding: 10px 15px; cursor: pointer; font-size: 2em; margin-right: 30px; }
ul.hashTabs li:hover{ font-weight: bolder; color: #0056ff }
ul.hashTabs li.hashcurrent{ font-weight: bolder; border-bottom: 2px solid #0056ff; color: #0056ff }
ul.hashTabs li:first-child.hashcurrent{ text-decoration: none; }
ul.hashTabs li.hashcurrent:before{ content: "#"; font-size: 1.3em; color: #0056ff}
.hashtab-content{ display: none; margin-top: 20px; }
.hashtab-content.hashcurrent{ display: flex; justify-content: space-between; flex-wrap: wrap; }
.hashContentBox{ display: flex; justify-content: space-between; flex-wrap: wrap; align-content: center; }
.hashContents{ font-family: 'Book Antiqua'; border: 1px solid #dbdbdb; cursor: pointer; position: relative; padding: 20px; margin-bottom: 20px; flex: 1 1 15%; margin-right: 20px; border-radius: 10px; line-height: 25px; }
.hashContents:after{ position: absolute; content: '+'; border: 1px solid #dbdbdb; text-align: center; font-size: 1.1em; transition: all 0.2s ease-in; font-weight: bolder; color: #0056ff; width: 27px; height: 27px; border-radius: 10px 10px 0 10px; bottom: 0; background-color: white; top: -12%; left: 249px; }
.hashContents:hover:after{ background-color: #0056ff;color: white; }
.hashContents:before{ position: absolute; content: "\f344"; font-family: 'Glyphicons Halflings'; text-align: center; font-size: 1.1em; transition: all 0.2s ease-in; font-weight: bolder; width: 27px; height: 27px; border-radius: 50px; bottom: 0; background-color: white; top: -12%; left: 0 }


.anyangNotice{ width: 100%; margin: 0 auto; background: linear-gradient(#f1fdff, #fff); display: flex; justify-content: space-between; padding-top: 60px; }
.anyangWrap{ max-width: 1220px; width: 100%; display: flex; justify-content: space-between; margin: 0 auto; }
.anyangWrap > div{ width: 31%; }
.notice1{ display: flex; flex-direction: column; justify-content: space-between; width: 100%; }
.notice1 h1{ font-size: 1.8em; font-weight: bolder; margin-bottom: 30px; }
.notice1 div{ border: 1px solid #dbdbdb; background-color: white; margin-bottom: 30px; overflow: hidden; border-radius: 10px; }
.notice2 h1{ font-size: 1.8em; font-weight: bolder; margin-bottom: 30px; }
.notice2 .infoBox{ width: 100%; background-color: white; border: 1px solid #3673c9; display: flex; flex-direction: column; justify-content: space-evenly; border-radius: 5px; border-top-left-radius: 10px;}
.info1{ display: flex; flex-direction: column; justify-content: space-around; border-bottom: 1px dotted black; margin: 0 10px; margin-top: 20px; padding: 0 10px; padding-top: 20px; }
.info1 > div{ display: flex; justify-content: space-between; }
.info2{ display: flex; flex-direction: column; justify-content: space-around; margin: 20px 10px; padding: 0 10px; padding-bottom: 10px;}
.info2div{ display: flex; justify-content: space-between; margin-bottom: 10px; font-size: 0.9em; padding-bottom: 8px; }
.info2bold{ font-weight: bolder }
.notice3 > div{ display: flex; justify-content: space-between; }
.notice3 h1{ font-size: 1.8em; font-weight: bolder; margin-bottom: 30px; }
.slick-button i{ font-size: 0.9em; font-weight: bolder; }
.news-slide  div  img{ width: 100%; border-radius: 10px; overflow: hidden;}


.bannersButton{ display: flex; justify-content: center; cursor: pointer; align-items: center; margin: 0 auto; width: 52px; height: 32px; padding: 0 10px; border-top-left-radius: 20px; border-top-right-radius: 20px; background-color: #dbdbdb;}
.bannersButton > i{ font-size: 2em; color: #0056ff; transition: all 0.5s  }
.banners{ width: 100%; background-color: #dbdbdb; display: none; }
.buttonNow{ display: block; }

.bannersWrap{ max-width: 1220px; display: flex; margin: 0 auto; width: 100%; justify-content: space-between;  align-items: center; }
.bannersWrap h1{ display: flex; align-items: center; font-size: 1.2em; font-weight: bolder;}
.bannersWrap > h1 > i{ margin-right: 20px; }
.bannersWrap > div{ margin: 30px auto; }
.bannerUl{  color: grey; overflow: hidden }
.bannerUl>div:after{ content: 'ยบ'; border-radius: 100%; margin-left: 10px; }


.footer{ width: 100%; background-color: #1d192f; }
.footerWrap{ width: 100%; max-width: 1220px; margin: 0 auto; padding: 40px 0; display: flex; justify-content: space-between; }
.foot2{ display: flex; flex-direction: column; justify-content: space-between; color: darkgrey; position: relative; }
.foot2 p{ margin-bottom: 20px; display: flex; align-items: center; }
.foot2 p:first-child:after{ content: "|"; color: grey; position: absolute; left: -30px;  }
.foot3{ color: grey; position: relative }
.foot3 p{ margin-bottom: 10px; }
.foot3 p:first-child:before{ content: "|"; color: grey; position: absolute; left: -35px}
.foot4-ul li{ color: white; float: left; margin-right: 30px; font-size: 1.3em; }
.foot4{ position: relative }
.foot4-ul:before{ position: absolute; content: "|"; left: -35px; color: grey }
.foot4-ul li:first-child:hover{ color: #0056ff; background-color: white; padding:5px; border-radius: 50% }
.foot4-ul li:nth-child(2):hover{ color: deepskyblue; background-color: white; padding:5px; border-radius: 50% }
.foot4-ul li:nth-child(3):hover{ color: #f02769; background-color: white; padding:5px; border-radius: 50% }
.foot4-ul li:nth-child(4):hover{ color: red; background-color: white; padding:5px; border-radius: 50% }
.foot4-ul li:last-child:hover{ color: greenyellow; background-color: white; padding:5px; border-radius: 50% }

